<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Department Details</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h2>Department Details</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Department Name:</strong> {{response.name}}
            </li>
            <li class="list-group-item">
              <strong>Department ID:</strong> {{response.departmentid}}
            </li>
            <li class="list-group-item">
              <strong>Manager Name:</strong> {{response.manager_name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>
