


  <!-- ***** Header Area Start ***** -->

  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <div class="swiper-container" id="top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-inner"  style="background-image:url(/stylesheets/images/slide-01.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-lg-8" >
                <div class="header-text">
                  <h2>Team <em>Dynamics</em>: Unlocking <em>Efficiency</em> in HR <em>Management</em></h2>
                  <div class="div-dec"></div>
                  <p>Our employment management software is designed to streamline and simplify your HR tasks. With user-friendly interfaces and powerful features, you can effortlessly manage your employee data, from recruitment to retirement. This efficiency allows your HR team to focus on strategic initiatives, rather than getting bogged down in administrative tasks</p>
                  <div class="buttons">
                    <div class="green-button">
                      <a href="/employee/login">Employee login</a>
                    </div>
                    <div class="orange-button">
                      <a href="ceo/login">HR login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-inner" style="background-image:url(/stylesheets/images/slide-02.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="header-text">
                  <h2>HR<em>M</em>aster: Empower Your Workforce with <em>Digital</em> Precision</h2>
                  <div class="div-dec"></div>
                 <p>We understand the importance of data security and compliance in today's business environment. Our software is designed with the highest standards of data protection in mind. It helps you comply with labor laws, data privacy regulations, and other legal requirements, reducing the risk of costly penalties and litigation</p>
                  <div class="buttons">
                    <div class="green-button">
                      <a href="/employee/login">Employee login</a>
                    </div>
                    <div class="orange-button">
                      <a href="/ceo/login">HR login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-inner" style="background-image:url(/stylesheets/images/slide-03.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="header-text">
                  <h2><em>Workforce</em> Wizard: Managing HR Tasks with <em>Efficiency</em></h2>
                  <div class="div-dec"></div>
                  <p>Whether you're a small startup or a large corporation, our software can adapt to your needs. As your business grows, you can easily scale up your HR operations without the need for a major overhaul of your systems. This flexibility ensures that your HR infrastructure is future-proof</p>
                  <div class="buttons">
                    <div class="green-button">
                      <a href="/employee/login">Employee login</a>
                    </div>
                    <div class="orange-button">
                      <a href="/ceo/login">CEO login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>

  <!-- ***** Main Banner Area End ***** -->

 